<div class="row-fluid">
	<div class="woodsection">
		<div class="span12">
			

			
	<div class="row-fluid">		
			
	<div class="span5 offset1">	
		<%= render "form2" %>
	</div>	

	<div class="span4 offset1">
		<div class="bizcardheadermycard">
		My Card	
		</div>	
		
		<div class="MYbizcardborder">
		<div class="MYbizcard">
			
			<!-- Stores CSS for current User -->
			<style>
			.MYbizcard {
				background-color: <%= "#{@user.cardbackground}" %> 
			}
			</style>
			<!-- Stores CSS for current User END -->
			
			<div class="bizcardname">
		<%= @user.full_name %>
			</div>
			
			<div class="bizcardcompany">
		<%= @user.company %>
			</div>
<br>
		<% if @user.twitter.blank? == false %>
			<div class="twitter">
			<a href="https://twitter.com/<%= "#{@user.twitter}" %>" class="twitter-follow-button" data-show-count="false">Follow @<%= "#{@user.twitter}"%></a>
			<script type="text/javascript" src="//platform.twitter.com/widgets.js">
			</script>
			</div>
		<% end %>	
				
		</div>
		</div>
	
	</div>
	
	</div>
	
	<div class="row-fluid">
		<div class="span5 offset1">
		<%= render "form" %>
		</div>
	</div>
		
		</div>
	</div>
</div>	
