<div class="row-fluid">
	<div class="span2">
      		Test
    </div>

    <div class="span10">
      <div class="header">
			Netwurking
			<div class="subheader">We make it easy.</div>	
      </div>
	</div>
</div>	
<br><br>

<div class="row-fluid">
<div class="span6">
	<div class="dashboardmenuadd">
		<div class="dashboardmenuaddtext">
			<%= link_to "+ Add Card", new_bizcard_path %>
		</div>
	</div>
</div>		
</div>		

<div class="row-fluid">
	<div class="woodsection">
		<div class="span12">
			
			<div class="Dashboardheader">
			My Dashboard
			</div>
			
			<div class="searchbar">
			<form class="search">
			  <input type="text" class="search-query" placeholder="Search">
			</form>
			</div>


			<div class="row-fluid">
				<div class="span12">
<!-- My Token -->					
					<div class="span4 offset1">
						<div class="mytoken">
					<%= current_user.token %>
						</div>
					</div>
					
<!-- MY Token Ends -->					
								
				</div>	
			</div>

<!-- My card -->			
		<div class="row-fluid">
			<div class="span4 offset1">
				<br>
				
				<div class="MYbizcardborder">
				<div class="MYbizcard">
					<div class="editmycard">
					<%= link_to edit_user_path(current_user), :class => "editmycardclass" do %>
					<i class="icon-edit"></i>
					<% end %>
					</div>
					
					<!-- Stores CSS for current User -->
		
					<style>
					.MYbizcard {
						background-color: <%= "#{current_user.cardbackground}" %>; 
					}
					</style>
					<!-- Stores CSS for current User END -->
			
					
					<div class="bizcardname">
					<%= current_user.full_name %>
					</div>
					
					<div class="bizcardcompany">
					<%= current_user.company %>
					</div>
					
					<% if current_user.twitter.blank? == false %>
					<div class="twitter">
						<br>
				<a href="https://twitter.com/<%= "#{current_user.twitter}" %>" class="twitter-follow-button" data-show-count="false">Follow @<%= "#{current_user.twitter}"%></a>
					<script type="text/javascript" src="//platform.twitter.com/widgets.js">
					</script>
					</div>
					<% end %>

				</div>
				</div>
			
			</div>

<!-- Stack of Cards Title -->
			<div class="span4 offset2">
			<br>
			<div class="bizcardheader">
			Recent Cards
			</div>
<!-- Stack of Cards Title Ends -->			
					
<!-- Stack of Cards -->	

<!-- Block to display self Entered Cards -->		
			<div class="bizstackwrapper">
				
						<% current_user.relationships.each do |user| %>	
					<div class="CUbizcardborder">
							<div class="bizcardstack">
								
								<div class="dateadded">
								<%= user.bizcard.created_at.strftime("%a %b %d, %Y") %>
								</div>	
								
								<div class="bizcardname">
								<%= user.bizcard.name %>
								</div>
								
								<div class="bizcardcompany">
								<%= user.bizcard.bizname %>
								</div>
									
							
							</div>
						</div>
						<% end %>	
							
<!-- Block to display self Entered Cards Ends -->	

<!-- Block to display friendship cards -->	
			
				<% current_user.friendships.each do |friendship| %>
			<div class="FRbizcardborder">
				<div class="bizcardstack">
					
					<div class="FRbizcard">
						
						<!-- Stores CSS for current User -->
						<style>
						.FRbizcard {
							background-color: <%= "#{friendship.friend.cardbackground}" %> 
						}
						</style>
						<!-- Stores CSS for current User END -->

					<div class="cardstackremove">
					<%= link_to friendship, :method => :delete do %>
				  	<i class="icon-remove"></i>
					<% end %>
					</div>
					
					<div class="dateadded">
					<%= friendship.created_at.strftime("%a %b %d, %Y") %>
					</div>
					
					<div class="bizcardname">
					<%= friendship.friend.full_name %>
					</div>
					
					<div class="bizcardcompany">
					<%= friendship.friend.company %>
					</div>
					
					<% if friendship.friend.twitter.blank? == false %>
					<div class="twitter">
					<br>
					<a href="https://twitter.com/<%= "#{friendship.friend.twitter}" %>" class="twitter-follow-button" data-show-count="false">Follow @<%= "#{friendship.friend.twitter}"%></a>
					<script type="text/javascript" src="//platform.twitter.com/widgets.js">
					</script>
					</div>
					<% end %>
				

					</div>
				</div>
			</div>	
			<% end %>
			
			</div>	
<!-- Block to display friendship cards Ends-->
			
<!-- JQUERY for Card Movement -->				
			    <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
			    <script>
			    $(function() {
				 $( ".bizstackwrapper" ).sortable({
				            revert: false
				        });
			   
			        $( "ul, li" ).disableSelection();
			    });
			 	</script>
			</div>
			
		</div>

<!-- JQUERY for Card Movement End -->	
		
<!-- Stack of Cards End -->	


		</div>
	</div>
</div>