<div class="row-fluid">
	<div class="span2">
      		Test
    </div>

    <div class="span10">
      <div class="header">
			Netwurking
			<div class="subheader">We make it easy.</div>	
      </div>
	</div>
</div>	
<br><br>

<div class="row-fluid">
<div class="span12">
	<div class="dashboardmenuadd">
		<div class="dashboardmenuaddtext">
			<%= link_to "+ Add Card", new_bizcard_path %>
		</div>
	</div>
</div>		
</div>		

<div class="row-fluid">
	<div class="woodsection">
		<div class="span12">
			
			<div class="Dashboardheader">
			My Dashboard
			</div>
			
			<div class="searchbar">
			<form class="search">
			  <input type="text" class="search-query" placeholder="Search">
			</form>
			</div>

<!-- Form to add card -->	
						<div class="row-fluid">
							<div class="span12">
								<div class="span4 offset1">
									<div class="addcardform">
										<%= render 'bizcards/form' %>
									</div>	
								</div>				
							</div>	
						</div>
<!-- Form to add card END -->
<br><br>
<!-- My card -->			
			<div class="row-fluid">
		
			<div class="span4 offset1">
				<br>
				<div class="bizcard">
					<div class="bizcardname">
					<%= current_user.email %>
					</div>
					<div class="bizcardcompany">
					My Company
					</div>	
				</div>
			</div>	

<!-- Stack of Cards -->
			<div class="span4 offset2">
			<br>
			<div class="bizstackwrapper">
			<% @bizcards.each do |bizcard| %> 
				<div class="bizcardstack">
					<div class="dateadded">
					<%= bizcard.created_at.strftime("%a %b %d, %Y") %>
					</div>	
					<div class="bizcardname">
					<%= bizcard.name %>
					</div>
					<div class="bizcardcompany">
					<%= bizcard.bizname %>
					</div>	
				</div>
				<% end %>
		

			    <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
			    <script>
			    $(function() {
				 $( ".bizstackwrapper" ).sortable({
				            revert: false
				        });
			   
			        $( "ul, li" ).disableSelection();
			    });
			 	</script>
			</div>
			</div>
		
			</div>	
	
		
		</div>
	</div>
</div>