<div class="row-fluid">
	<div class="span10 offset1">
		<div class="woodsection">
			
			<div class="Dashboardheader">
			My Dashboard
			</div>
<!-- Search -->			
			<div class="row-fluid">
				<div class="span12">
					<form class="search">
					<%= search_form_for @search do |f| %>
						<%= f.text_field :token_eq, :placeholder => "Enter 6 digit Pin#", :class => "searchbar" %>
						<% end %>
					</form>
					<hr>	
				</div>
			</div>			
<!-- Card Search Results -->			
			<div class="row-fluid">
				<div class="span4 offset1">
			<% if @search.conditions.empty? == false %>
			<% @users.each do |user| %>
			<div class="MYbizcardborder">
			<div class="FRbizcard">
				<div class="addmycard">
				<%= link_to friendships_path(:friend_id => user), :method => :post do %><br>
				<i class="icon-plus"></i>
				<% end %>
				</div>

				<!-- Stores CSS for current User -->
				<style>
				.FRbizcard {
					background-color: <%= "#{user.cardbackground}" %> 
				}
				</style>
				<!-- Stores CSS for current User END -->

				<div class="bizcardname">
			<%= user.full_name %>
				</div>

				<div class="bizcardcompany">
			<%= user.company %>
				</div>

				<div class="bizcardtitle">
			<%= user.title %>
				</div>
	<br>
			<% if user.twitter.blank? == false %>
				<div class="twitter">
				<a href="https://twitter.com/<%= "#{user.twitter}" %>" class="twitter-follow-button" data-show-count="false">Follow @<%= "#{user.twitter}"%></a>
				<script type="text/javascript" src="//platform.twitter.com/widgets.js">
				</script>
				</div>
			<% end %>	

			<div class="address">
			<%= user.address %>	<%= user.address2 %> <%= user.city %> <%= user.state %> <%= user.zip %>
			</div>	

			</div>
			</div>
<br>
			<% end %>	
			<% end %>
				</div>
			</div>
<!-- Card Search Results ends -->			
			
			
<!-- Search ends -->			
<!-- My Token -->
		<div class="row-fluid">
				<div class="span12">
					
					<div class="span12">
						<div class="mytoken">
					Your Pin is: <%= current_user.token %>
						</div>
					</div>
								
				</div>	
			</div>
<!-- MY Token Ends -->	
<!-- My card -->			
		<div class="row-fluid">
			<div class="span4 offset1">
				<br>
				
			
				<div class="MYbizcard">
					<div class="editmycard">
					<%= link_to edit_user_path(current_user) do %>
					<i class="icon-edit"></i>
					<% end %>
					</div>
					
					<!-- Stores CSS for current User -->
		
					<style>
					.MYbizcard {
						background-color: <%= "#{current_user.cardbackground}" %>; 
					}
					</style>
					<!-- Stores CSS for current User END -->
			
					
					<div class="bizcardname">
					<%= current_user.full_name %>
					</div>
					
					<div class="bizcardcompany">
					<%= current_user.company %>
					</div>
					
					<div class="bizcardtitle">
					<%= current_user.title %>
					</div>	
					
					<% if current_user.twitter.blank? == false %>
					<div class="twitter">
						<br>
				<a href="https://twitter.com/<%= "#{current_user.twitter}" %>" class="twitter-follow-button" data-show-count="false">Follow @<%= "#{current_user.twitter}"%></a>
					<script type="text/javascript" src="//platform.twitter.com/widgets.js">
					</script>
					</div>
					<% end %>
					
					<div class="address">
					<%= current_user.address %>	<%= current_user.address2 %> <%= current_user.city %> <%= current_user.state %> <%= current_user.zip %>
					</div>	

				</div>
			
			
			</div>
<!-- My card Ends-->
<!-- Stack of Cards Title -->
			<div class="span4 offset2">
			<br>
<!-- Stack of Cards Title Ends -->			
					
<!-- Stack of Cards -->	

<!-- Block to display self Entered Cards -->		
			<div class="bizstackwrapper">
				
							
<!-- Block to display self Entered Cards Ends -->	

<!-- Block to display friendship cards -->	
			
				<% current_user.friendships.each do |friendship| %>
			<div class="FRbizcardborder">
				<div class="bizcardstack">
					<div class="FRbizcard">
						
						<!-- Stores CSS for current User -->
						<style>
						.FRbizcard {
							background-color: #F8F7FF;
						}
						</style>
						<!-- Stores CSS for current User END -->

					<div class="cardstackremove">
					<%= link_to friendship, :method => :delete do %>
				  	<i class="icon-remove"></i>
					<% end %>
					</div>
					
					<div class="dateadded">
					<%= friendship.created_at.strftime("%a %b %d, %Y") %>
					</div>
					
					<div class="bizcardname">
					<%= friendship.friend.full_name %>
					</div>
					
					<div class="bizcardcompany">
					<%= friendship.friend.company %>
					</div>
					
					<% if friendship.friend.twitter.blank? == false %>
					<div class="twitter">
					<br>
					<a href="https://twitter.com/<%= "#{friendship.friend.twitter}" %>" class="twitter-follow-button" data-show-count="false">Follow @<%= "#{friendship.friend.twitter}"%></a>
					<script type="text/javascript" src="//platform.twitter.com/widgets.js">
					</script>
					</div>
					<% end %>
				

					</div>
				</div>
			</div>	
			<% end %>
			
			</div>	
<!-- Block to display friendship cards Ends-->
			
<!-- JQUERY for Card Movement -->				
			    <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
			    <script>
			    $(function() {
				 $( ".bizstackwrapper" ).sortable({
				            revert: false
				        });
			   
			        $( "ul, li" ).disableSelection();
			    });
			 	</script>
			</div>
			
		</div>

<!-- JQUERY for Card Movement End -->	
		
<!-- Stack of Cards End -->	


		</div>
	</div>
</div>