<%= form_for(Bizcard.new) do |f| %>
  <% if Bizcard.new.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bizcard.errors.count, "error") %> prohibited this bizcard from being saved:</h2>

      <ul>
      <% @bizcard.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



<div class="bizcardformwrapper">
<div class="bizcardformtitle">		
Name:
</div>
<%= f.text_field :name, :class => "abc", :placeholder => "First & Last" %>

<div class="bizcardformtitle">	
<br>	
Company:
</div>
<%= f.text_field :bizname, :class => "abc", :placeholder => "Co. Name" %>

<div class="actions">
<%= f.submit "Add Card", :class => "submitbutton"  %>
</div>
</div>

<% end %>